<style>
    .login-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 40px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container img {
        max-width: 100%;
        max-height: 100%;
    }
     .image-container {
        position: relative;
        width: 400px;
        height: 400px;
        overflow: hidden;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .image-container:hover .overlay {
        opacity: 1;
    }

    .preview-image {
    max-width: 100%;
    height: auto;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="login-container">
                Create your Profile to
                <h2 class="text-center text-lavender font-weight-bold mb-4">ProjectConnect</h2>
                <form method="post" action="/auth/register" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Họ và Tên</label>
                        <input type="text" class="form-control" id="name" name="name"placeholder="Nhập Họ và Tên" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email"placeholder="Nhập địa chỉ email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Mật khẩu</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu" required>
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="imgfile" name="imgfile" >
                            <label class="custom-file-label" for="imgfile">Chọn ảnh</label>
                        </div>
                    </div>
                    <div class="from-group border rounded">
                        <div id="preview-container"></div>
                    </div>
                    <button type="submit" class="btn background-lavender text-white btn-block">Đăng ký</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="image-container">
                <img src="../../img/register1.png" alt="bird abstract">
                <div class="overlay {{#if overlay}}overlayTrue{{/if}}">
                {{#if overlay}}
                <h3>Email đã tồn tại !!!!!!!!!!!!!</h3>
                {{else}}
                <h3>I love You</h3>
                {{/if}}
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('imgfile').addEventListener('change', function(event) {
        var input = event.target;
        var reader = new FileReader();

        reader.onload = function() {
            var img = document.createElement('img');
            img.src = reader.result;
            img.className = 'preview-image';

            var previewContainer = document.getElementById('preview-container');
            previewContainer.innerHTML = '';
            previewContainer.appendChild(img);
        };

        reader.readAsDataURL(input.files[0]);
    });
    var overlay = document.querySelector('.overlayTrue');
    overlay.style.opacity = '1';

</script>